* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-green: 37, 50, 43;
    --bright-green: 95, 197, 29;
    --dark-theme-accent: 70, 130, 180;
}

html {
    scrollbar-color: rgba(var(--dark-green),0.3) rgba(var(--dark-green), 0);
}

body {
    background-color: rgba(25, 68, 60, 0.3);
    font-family: "Madimi One", sans-serif;
}

/* header */
.header-content {
    display: flex;
    position: relative;
    height: 5em;
    z-index: 2;
    justify-content: space-between;
}

.header-title {
    padding: 0.8em;
}

.header-logo {
    font-size: 2em;
    text-decoration: none;
    color: white;
}

.theme-switch{
    padding: 0.4em;
    border: none;
    background-color: transparent;
}


.theme-switch img{
    width: 4em;
}

/* background */
.background{
    position: absolute;
    top: 0;
    z-index: 1;
}

.background-fog {
    position: absolute;
    opacity: 95%;
    top: 25vh;
    z-index: 2;
    overflow: hidden;
    width: 100vw;
}

.header-background-fog {
    animation-name: fog-move;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 50vh;
    width: 115vw;
}

.background-image {
    position: relative;
    width: 100vw;
    height: 42vh;
    background-image: url("images/background-light.jpg");
}

/* todo content */
.todo-container{
    position: relative;
    z-index: 3;
    top: 18vh;
    margin: 0 auto;
    max-width: 600px;
}

.create-todo {
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 582px;
}

.todo-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 1em;
    border-radius: 5px;
}

.create-todo-input {
    width: 100%;
    outline: none;
    height: 36px;
    border: none;
    font-size: 16px;
}

.add-todo {
    outline: none;
    border: none;
    height: 2.7em;
    background: inherit;
}

.add-todo img{
    width: 2.7em;

}

.todo-list {
    font-family: "Nunito", sans-serif;
    margin-top: 1em;
    background-color: rgba(40, 65, 58, 0.23);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todo-items-container {
    height: 35vh;
    overflow: auto;
}

.todo-empty {
    display: flex;
    flex-direction: column;
    padding-top: 0.7em;
    font-size: 1.45em;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgb(var(--dark-green));
}

.todo-empty img {
    padding-top: 0.9em;
    max-width: 21vh;
}

.todo-empty.none {
    display: none;
}

.todo-item,
.todo-item.active{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    border-radius: 10px;
    padding: 0 1em;
    font-size: 17px;
    color: rgba(var(--dark-green), 0.8);
    margin: 0.5em;
    background-color: white;
}

.todo-item.checked {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: line-through 1px black;
}

.todo-item.checked.none,
.todo-items-active.none {
    display: none;
}

.todo-completed {
    width: 2.7em;
    height: 2.7em;
    border: 1px solid rgba(var(--dark-green), 0.7);
    outline: none;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0);
}

.todo-completed.checked::before {
    display: block;
    content: url("images/checked-light.png");
}

.todo-parameters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0.5em 1em;
}

.todo-counter {
    font-size: 1em;
    color: rgba(var(--dark-green), 0.8);
}

.show-all.active,
.show-active.active,
.show-completed.active {
    background-color: rgba(var(--dark-green), 0.3);
    border-radius: 25px;
    font-size: 1em;
    color: var(--bright-green);
}


.show-all,
.show-active,
.show-completed {
    margin-left: 1em;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 2px 6px;
    border: 3px solid transparent;
    font-size: 16px;
    color: rgba(var(--dark-green), 0.7);
}

.show-all{
    margin-left: 0;
}


.clear-todo {
    width: 2.5em;
    content: url("images/clear-todo.png");
    padding-bottom: 0.4em;
}

/* objects transformation */
@keyframes fog-move {
    from {
        translate: none;
    }
    to {
        translate: -15em;
    }
}

.clear-todo:hover{
    transform: translateY(-0.5em) scale(1.1);
    filter: drop-shadow(2px 2px 5px rgb(var(--bright-green)));
    transition: 0.5s;
}

.todo-item.active:hover{
    background-color: rgba(var(--bright-green), 0.6);
    color: white;
    transition: 1s;
    .todo-completed {
        border: 1px solid white;
    }
    .todo-completed.checked::before {
        content: url("images/checked-hover.png");
    }
}

.show-all:hover,
.show-active:hover,
.show-completed:hover{
    transition: 1s;
    border-bottom-color: rgba(var(--dark-green), 0.7);
    color: white;
}

.create-todo:hover{
    filter: drop-shadow(0 2px 8px rgb(var(--bright-green)));
    transition: 0.8s;
}

.theme-switch img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.todo-item.checked:hover{
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: line-through 1px black;
}

/* dark theme */
.dark {
     background-color: rgba(0, 0, 0);
.background-image {
    background-image: url("images/background-dark-1.jpg");
}

    .todo-list {
        background-color: rgba(	105, 105, 105, 0.4);
    }
    
    .theme-switch {
        content: url("images/dark.png");
        height: 4.5em;
    }

    .add-todo img{
        content: url("images/add-todo-dark.png");
    }

    .show-all.active,
    .show-active.active,
    .show-completed.active {
        background-color: rgba(var(--dark-theme-accent), 0.7);
    }

    .show-all,
    .show-active,
    .show-completed,
    .todo-counter {
        color: white;
    }

    .clear-todo {
        content: url("images/clear-todo-dark.png");
    }

    .show-all:hover,
    .show-active:hover,
    .show-completed:hover{
        border-bottom-color: rgba(var(--dark-theme-accent), 0.7);
    }

    .todo-item.active:hover{
        background-color: rgba(var(--dark-theme-accent), 0.7);
    }

    .create-todo:hover{
        filter: drop-shadow(0 2px 8px rgb(var(--dark-theme-accent)));
    }

    .clear-todo:hover {
        filter: drop-shadow(4px 4px 5px rgb(var(--dark-theme-accent)));
    }

    .theme-switch:hover{
        transform: translateX(-0.1em) scale(1.05);
        transition: 0.5s;
    }

    .todo-completed.checked::before{
        content: url("images/checked-dark.png");
    }
}